.progress-bar-container {
    max-width: 230px;
}

.progress {
    background-color: #ECF1F4;
    border-radius: 8px;
    box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
    height: 6px;
}

.progress-bar {
    background-color: var(--dark-blue);
}
