#homepage-body {
    display: flex;
    flex-direction: row;
}

#homepage-stories-display {
    min-width: 800px;
    width: 60%;
}

#homepage-display-state-toggle-section {
    background-color: #FAFAFA;
    padding: 5px 0px 5px 0px;
}
