.primary-button {
    background-color: #333333;
    height: 40px;
    line-height: 24px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    width: 216px;
}