.secondary-button {
  background-color: #FAFAFA;
  height: 40px;
  line-height: 24px;
  margin: 5px;
  outline-color: #333333;
  outline-width: 1px;
  text-align: center;
  width: 216px;
}

.secondary-button:hover {
  background-color: #333333;
}
