.secondary-button {
    background-color: #FAFAFA;
    height: 40px;
    line-height: 24px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    outline-color: #333333;
    text-align: center;
    width: 216px;
}

.secondary-button:hover {
    background-color: #333333;
}