.story-card {
    background-color: #FAFAFA;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0px 10px 10px;
    min-width: 800px;
    width: 60%;
}

.youtube-thumbnail {
    flex-basis: 20%;
}

.story-card-details {
    flex-basis: 40%;
    padding: 17px 0px 17px 26px;
}

.story-card-actions {
    flex-basis: 40%;
}

.story-card-top {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.story-card-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 29.05px;
    margin-right: 10px;
}

.story-card-description {
    font-size: 10px;
    line-height: 12.1px;
    text-align: left;
}
